/*==========  m-work-w-us-container  ==========*/

.work-w-us-container{
	background-color: $grayDarker;
	color: $grayLighter;
	padding: 3em 0.9375em;
	h2{
		color: $grayLighter;
		text-transform: uppercase;
		margin-top: 0;
	}
	a{
		color: $grayLight;
		&:hover{
			color: $white;
		}
	}
}

.work-w-us-prose,
.work-w-us-contact{
	@extend .left;
	padding: 0 0.9375em 0 0;
}

.work-w-us-prose-invite{
	display: block;
}

.work-w-us-contact{
	padding-top: 0.4em;
}
.contact-us-list{
	line-height: 2em;
	margin-bottom: 0;
	li {
		border-bottom: 1px solid $gray;
	}
}

.contact-list-footer [class*="icon-"]:before {
		margin-right: 0.5em;		
		display: inline-block;
		text-align: center;
		width: 1em;
}

.no-touch .phone-link{
	cursor: text;
	border-bottom: none;
	color: inherit;
	&:hover{
		color: inherit;
	}
}

/*==========  site colophon with copy/credits and legal  ==========*/

.site-footer{
	background-color: $black;
	color: $grayLight;
	padding: 2em 0;
	line-height: 1.25em;
	a{
		color: $grayLight;
	}
}

.svg .credits [data-icon]:before {
}



/*==========  Oldie  ==========*/

.oldie {
	.work-w-us-prose{
		padding-right: 4em;
	}
	.work-w-us-contact{
		min-width: 350px;
	}
}

/*==========  MQ  ==========*/
@media screen and (min-width: 500px) {
	.contact-us-list li {
		border: none;
	}
}

@media #{$small}{
	.work-w-us-prose,
	.work-w-us-contact{
		@include grid-column(6);
		padding-left: 0;
	}
	.work-w-us-prose{
		p{
			margin-bottom: 0;
		}
	}
	.work-w-us-contact{
		padding-top: 0;
	}
	.work-w-us-container{
		padding: 3em 2em;
	}
}

@media #{$topbar-media-query}{
	.work-w-us-prose{
		@include grid-column(7);
		padding-left: 0;
	}

	.work-w-us-contact{
		@include grid-column(5);
	}

}

@media #{$medium}{
	.work-w-us-prose{
		@include grid-column(8);
		padding-left: 0;
	}

	.work-w-us-contact{
		@include grid-column(4);
	}
}