//realisations

.realisations-li{
	padding: 2em 0 0;
	@extend .unstyled;
	@extend .columns;
	@extend .clearfix;
	margin-bottom: 4em; 
}

.realisation{

}

.title--realisation{
	// margin-bottom: 1em; 
}

.desc--realisation{
	// margin-top: 2em; 
}

.realisation-caption{
	background-color: $grayDark;
}

.realisation-photo-wrapper{
	@extend .image-block-hover-and-touch;
}


.realisation, 
.side-info-mbr figure{
	img {
		width: 100%;
		height: auto;
		background-image: $loader;
		background-repeat: no-repeat;
		background-position: center center;
	}	
}
