//realisations

.realisation{
	@extend .unstyled;
	margin-bottom: 4em;
}

.realisation-caption{
	background-color: $grayDark;
}

.realisation-photo-wrapper{
	@extend .image-block-hover-and-touch;
}


.realisation, 
.side-info-mbr figure{
	img {
		width: 100%;
		height: auto;
		background-image: $loader;
		background-repeat: no-repeat;
		background-position: center center;
	}	
}
